In [ ]:
# sklearn => machine learning most popular python
# template in sklearn to train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [ ]:
# import dataset from web จะใช้ csv , api ก็ได้ มีหลายวิธี
mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

In [ ]:
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
#prepare
X = mtcars[ [ "hp", "wt", "am" ] ]
y = mtcars[ "mpg" ]

In [ ]:
# split data 80%/20%
    #function train_test_split จะส่ง function ออกมา 4ส่วน
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# train model
model = LinearRegression() #model = LinearRegression().fit(X_train, y_train)
model.fit(X_train, y_train)
# test model  /   scoreing
pred = model.predict(X_test)

pred
# MAE mean absolute error
mae = np.mean(np.absolute((y_test - pred)))
# MSE
mse = np.mean((y_test - pred)**2)
print(mae, mse)

2.0710117400488417 7.319771016726086

In [ ]:
#DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
# train model
model = DecisionTreeRegressor() #model = DecisionTreeRegressor().fit(X_train, y_train)
model.fit(X_train, y_train)
# test model  /   scoreing
pred = model.predict(X_test)

pred
# MAE mean absolute error
mae = np.mean(np.absolute((y_test - pred)))
# MSE
mse = np.mean((y_test - pred)**2)
print(mae, mse)

2.657142857142856 11.74571428571428

In [ ]:
# RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
# train model
model = RandomForestRegressor() #model = RandomForestRegressor().fit(X_train, y_train)
model.fit(X_train, y_train)
# test model  /   scoreing
pred = model.predict(X_test)

pred
# MAE mean absolute error
mae = np.mean(np.absolute((y_test - pred)))
# MSE
mse = np.mean((y_test - pred)**2)
print(f"Mean Absolute Error : {mae}" )
print(f"Mean Squared Error : {mse}")

Mean Absolute Error : 2.225999999999993
Mean Squared Error : 9.754951428571383